[class*="col-"] {
    background-color: #eee;
    text-align: center;
    border-radius: 3px;
    background-clip: padding-box;
    border: 10px solid transparent;
    min-height: 30px;
    line-height: 30px;
}
